<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Form Not Found | FormBox</title>
    <link rel="stylesheet" th:href="'/assets/styles.css'" href="/../static/assets/styles.css">
</head>
<body>

<main>
    <div>ENDPOINT_NOT_FOUND</div>
    <h1>Form Not Found</h1>
    <p>The form backend endpoint you submitted data to does not exist or has been deactivated.</p>
    <a href="/static">Powered by <span>FormBox</span></a>
</main>

</body>
</html>